.card .swiper {
    width: 300px;
    height: 300px;
    padding: 50px;
  }
  
  .card .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .card .swiper-slide img {
    display: block;
    width: 100%;
  }